@font-face {
  font-family: 'Franklin'; /* Define the custom font name */
  src: url('../styles/fonts/Franklin\ Gothic\ Condensed.otf') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Folio'; /* Define the custom font name */
  src: url('../styles/fonts/Folio\ Book\ font.ttf') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SourceSans';
  src: url(../styles/fonts/SourceSans3-VariableFont_wght.ttf);
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansItalic';
  src: url(../styles/fonts/SourceSans3-Italic-VariableFont_wght.ttf);
  font-style: italic;
}
